DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/core_db
JWT_SECRET=supersecretkeyforlocaldevchangeinprod
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=supersecretrefreshkeychangeinprod
JWT_REFRESH_EXPIRES_IN=7d
PORT=3001
